body{
    margin: 0;
}
header{
    background: rgba(71, 121, 161, 0.61);
    color: white;
    padding: 0px 0px 0 15px;

}

header h1{
    display: inline;
    margin: 0;
    color: rgb(209, 28, 179);
}
nav ul{
    margin: 0;
    display: inline;
    padding: 0 2% 0 2%;
}
nav ul li{
    margin: 0;
    list-style-type: none;
    display: inline-block;
    background: black;
    color: rgb(241, 9, 9);
    padding: 5px 15px 5px 15px;
}
nav ul li a{
    color: white;
}
.row{

}
.col{
    background: rgb(230, 224, 224);
    border-radius: 15%;
    float: left;
    margin: 1%;
    width: 30%;
}
footer{
    clear: both;
}